<%- include("header") %>

<div class="container">
  <div class="row">

<!-- Add back to lists link -->
	  <div class="col-md-3">
	  	<a href="/lists" role="button" class="btn btn-outline-purple position-top-left"><i class="fas fa-chevron-left"></i> ALL LISTS</a>
	  </div>

<!-- Display heading -->
    <div class="col-md-6">
      <div class="card">
        <div class="card-body">
          <h2 class="card-title" id="heading"><%= list.title.toUpperCase(); %></h2>
        </div>
        <ul class="list-group list-group-flush">

<!-- Create new task -->
          <li class="list-group-item item-new">
						<form action="/lists/:listTitle/tasks" method="POST">
							<div class="row">
								<div class="col-md-6">
									<input type="text" name="newItem" placeholder="new task" autocomplete="off" autofocus>
								</div>
								<div class="col-md-4">
									<input class="datepicker" width="120" name="dueDate" placeholder="due by">
								</div>
								<input type="hidden" name="listTitle" value="<%= list.title %>">
								<div class="col-md-2 no-padding wrapper-center">
									<button class="btn btn-add btn-circle" type="submit"><i class="fas fa-plus-circle fa-3x add"></i></button>
								</div>
							</div>
						</form>
          </li>
        </ul>
      </div>
    </div>

<!-- Add logout link -->
	  <div class="col-md-3">
	  	<a href="/logout" role="button" class="btn btn-outline-purple position-top-right">LOG OUT</a>
	  </div>
  </div>

<!-- List pending and completed tasks -->
	<div class="row justify-content-around">
		<% if (showCompleted) { %>
				<div class="col-md-6">
					<div class="card">
		      	<div class="card-body">
		          <p class="card-text">PENDING TASKS</p>
		        </div>
						<%- include("tasks", {completed: false}) %>
					</div>
				</div>
				<div class="col-md-6">
					<div class="card">
		      	<div class="card-body">
		          <p class="card-text">COMPLETED TASKS</p>
		        </div>
						<%- include("tasks", {completed: true}) %>
					</div>
				</div>
		<% } else { %>

<!-- List only pending tasks -->
			<div class="col-md-6">
				<div class="card">
	      	<div class="card-body">
	          <p class="card-text">PENDING TASKS</p>
	        </div>
					<%- include("tasks", {completed: false}) %>
				</div>
			</div>
		<% } %>
	</div>

<!-- Toggle show completed -->
<div class="row justify-content-center">
	<a href="/lists/<%= list.title%>?showCompleted=<%= !showCompleted %>">
		<% if (showCompleted) { %>
			<button class="btn btn-outline-purple center">HIDE COMPLETED</button>
		<% } else { %>
			<button class="btn btn-outline-purple center">SHOW COMPLETED</button>
		<% } %>
	</a>
</div>

<!-- Display date -->
	<div id="day-display">
	  <h2>Today is <%= today.format('dddd, MMMM Do') %></h2>
  </div>

<%- include("footer") %>