<%- include("header") %>

<div class="header">
	<a href="/lists"><button type="button" class="btn navigation position-top-left">
		<img src="/arrow-left.png"> ALL LISTS</button></a>
	<div class="box" id="heading">
		<h1><%= list.title.toUpperCase(); %></h1>
	</div>
	<a href="/logout"><button type="button" class="btn navigation position-top-right">LOG OUT</button></a>
</div>

<!-- Create new task form -->
<div class="box">
	<div class="item">
		<form action="/lists/:listTitle/tasks" method="POST">
			<input type="text" name="newItem" placeholder="new task" autocomplete="off" autofocus="true">
			<input type="date" name="dueDate"
			 value="<%= tomorrow.format().slice(0, -15) %>">
			<input type="hidden" name="listTitle" value="<%= list.title %>">
			<button class="btn add" type="submit">+</button>
		</form>
	</div>
</div>

<!-- List incomplete and completed tasks -->
<div class="task-list-wrapper">
	<% if (showCompleted) { %>
			<div class="left">
				<h4>PENDING TASKS</h4>
				<%- include("tasks", {completed: false}) %>
			</div>
			<div class="right">
				<h4>COMPLETED TASKS</h4>
				<%- include("tasks", {completed: true}) %>
			</div>
	<% } else { %>

	<!-- List only incomplete tasks -->
		<h4>PENDING TASKS</h4>
		<%- include("tasks", {completed: false}) %>
	<% } %>
</div>

<!-- Toggle show completed -->
<div>
	<a href="/lists/<%= list.title%>?showCompleted=<%= !showCompleted %>">
		<% if (showCompleted) { %>
			<button class="btn navigation center">HIDE COMPLETED</button>
		<% } else { %>
			<button class="btn navigation center">SHOW COMPLETED</button>
		<% } %>
	</a>
</div>

<div class="day-display position-bottom-left">
	<h2>Today is <%= today.format('dddd, MMMM Do') %></h2>
</div>

<%- include("footer") %>