<%- include("header") %>

<div class="box" id="login">
	<span><h1><%= route.toUpperCase() %></h1></span>
</div>

<div class="box">
	<div class="item">
		<a href="/auth/google" role="button">GOOGLE</a>
	</div>

	<div class="item">
		<a class="" href="/auth/facebook" role="button">FACEBOOK</a>
	</div>
</div>

<form action="/<%= route %>" method="POST">
    <div>
        <label>Email:</label>
        <input type="text" name="email"/>
    </div>
    <div>
        <label>Password:</label>
        <input type="password" name="password"/>
    </div>
    <div>
        <input type="submit" value="<%= route.toUpperCase() %>"/>
    </div>
</form>

<%- include("footer") %>