<%- include("header") %>

<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-4">
      <div class="card" id="login">
        <div class="card-body">
          <h2 class="card-title"><%= route.toUpperCase() %></h2>
          
          <% if (route == 'login') { %>
            <p class="card-text">Don't have an account yet?</p>
            <a href="/register" role="button" class="btn btn-white">SIGN UP</a>
          <% } else if (route == 'register') { %>
            <p class="card-text">Already have an account?</p>
            <a href="/login" role="button" class="btn btn-white">LOG IN</a>
          <% } %>
          
        </div>
        <ul class="list-group list-group-flush">

          <li class="list-group-item">
            <a href="/auth/google" role="button" class="btn btn-block btn-social btn-google"><i class="fab fa-google"></i> Sign in with Google</a>
            <hr>
            <a href="/auth/facebook" role="button" class="btn btn-block btn-social btn-facebook"><i class="fab fa-facebook-f"></i> Sign in with Facebook</a>
            <hr>
            <form class="form-signin" action="/<%= route %>" method="POST">
              <div class="form-label-group">
                <input type="email" name="email" class="form-control" placeholder="Email address" required autofocus>
              </div>
              <div class="form-label-group">
                <input type="password" name="password" class="form-control" placeholder="Password" required>
              </div>
              <button class="btn btn-block btn-outline-purple" type="submit"><%= route.toUpperCase() %></button>
            </form>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>

<%- include("footer") %>